:root {
    --background-color: #C6DBD0;
    --text-hover-color: #C2DED1;
    --text-color: #333;
    --header-color: #8F993E;
    --footer-color: #385F71;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

body {
    background-color: var(--background-color);
}

a {
    text-decoration: none;
}


header {
    background-color: var(--header-color);
    border-bottom: 10px solid white;
    padding: 15px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

header nav a {
    color: white;
    text-align: center;
    width: 200px;
}

header nav a:hover {
    color: var(--text-hover-color)
}

footer {
    background-color: var(--footer-color);
    color: white;
    padding: 15px;
}

footer .social-wrapper img {
    width: 50px;
}

.logo {
    width: 250px;
}
