:root {
    --background-color: #FFE1B1;
    --text-hover-color: #C2DED1;
    --text-color: #333;
    --header-color: #00A896;
    --footer-color: #F87060;
    --btn-color: #B12028
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Variable', system-ui, sans-serif;
    scroll-behavior: smooth;
    scroll-margin: 200px;
}


body {
    color: var(--text-color);
}

a {
    text-decoration: none;
}

strong {
    font-weight: 600;
}

h1, h2, h3 {
    color: #232943;
    text-transform: uppercase;
    font-weight: bold;
}

footer {
    background-color: var(--footer-color);
    color: white;
}

footer .social-wrapper img {
    width: 35px;
}

.logo {
    width: 180px;
}

footer .logo{
    width: 200px;
}

.back-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-size: 45px;
    margin-bottom: 50px;
}
h2 {
    font-size: 20px;
}

section {
    margin: 350px 0
}

section#quienes-somos {
    margin: 150px auto 350px;
}

.btn {
    padding: 10px;
    background-color: var(--btn-color);
    border-radius: 20px;
    color: white;
    min-width: min(200px, 100%)
}