.swiper-wrapper {
    height: 700px;
}
.swiper-slide {
    display: grid;
    align-content: end;
}
.swiper-pagination-bullet {
    background-color: white;
    opacity: 1;
    margin: 0 12px!important;
    height: 10px;
    width: 10px;
}
.swiper-pagination-horizontal {
    bottom: 25px!important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #B12028;
}
.swiper-button-next, .swiper-button-prev {
    display: block;
    color: #B12028
}
.swiper-button-next {
    transform: rotate(180deg);
}
.swiper-button-next::after, .swiper-button-prev::after{
    content: '';
    display: block;
    background-image: url('arrow.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #F5D190;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}