---

---

<section class="text-center p-4">
    <h1>Contactanos</h1>
    <p class="max-w-[350px] mx-auto">Llena los siguientes campos y recibe más información</p>
    <form class="flex flex-col items-center gap-8 mt-5 max-w-[600px] mx-auto" action="">
        <input class="block w-full rounded-md p-3" type="text" name="nombre" id="nombre" placeholder="Nombre" required>
        <input class="block w-full rounded-md p-3" type="email" name="email" id="email" placeholder="Correo electrónico" required>
        <textarea class="block w-full rounded-md p-3" name="comentario" id="comentario" cols="30" rows="5" placeholder="¿En qué podemos ayudarte?"></textarea>
        <input class="btn" type="submit" value="Enviar">
    </form>
</section>