---
import type { Code } from "astro:components"
import Crew from "./Crew.astro"
import EQUIPO from "../data/equipo.json"
---

<section id="equipo-ciartehc" class="text-center max-w-[1300px] mx-auto p-4">
    <h1>Equipo ciartehc</h1>
    <!-- usuario -->
    <div class="flex justify-between gap-4 flex-wrap">
        {EQUIPO.map ( item => (
            <Crew {...item} />
        ))}
    </div>
</section>
<div id="modal"></div>