---
import SocialMediaIcon from "./SocialMediaIcon.astro"
import Facebook from "../icons/Facebook.astro"
import Instagram from "../icons/Instagram.astro"
import Mail from "../icons/mail.astro"
import Youtube from "../icons/Youtube.astro"
---

<footer class="p-4">
    <div class="grid grid-cols-3 py-10">
        <img class="logo self-center" src="logo.png" alt="">
        <div>
            <img src="logo_udg.png" alt="" class="w-[200px] m-auto mb-[50px]">
            <article class="social-wrapper flex items-center justify-center gap-20">
                <SocialMediaIcon href="https://www.facebook.com/profile.php?id=61556405097413">
                    <Facebook class="w-10" style="fill:white"/>
                </SocialMediaIcon>
                <SocialMediaIcon href="https://www.instagram.com/ctcusur/">
                    <Instagram class="w-10" style="fill:white"/>
                </SocialMediaIcon>
                <SocialMediaIcon href="ciartehc@cusur.udg.mx">
                    <Mail class="w-10" style="fill:white"/>
                </SocialMediaIcon>
                <SocialMediaIcon href="https://www.youtube.com/channel/UCsl8ULmX_tJrp6LEJq4v8hg">
                    <Youtube class="w-10" style="fill:white"/>
                </SocialMediaIcon>
            </article>
        </div>
        <article class="text-right">
            <strong class="block">Teléfono</strong>
            <ul class="mb-4">
                <li>
                    01 (341) 575 2222
                </li>
                <li>
                    extensión 46073
                </li>
            </ul>
            <strong class="block">Dirección</strong>
            <ul>
                <li>
                    Centro Universitario del Sur
                </li>
                <li>
                    Av. Enrique Arreola Silva No. 883, colonia centro
                </li>
                <li>
                    Edificio P-planta baja
                </li>
                <li>
                    Zapotlán el Grande, Jalisco, México 
                </li>
            </ul>
        </article>
    </div>
    <hr>
    <p class="mt-2 text-center">
        Universidad de Guadalajara, Centro de Investigaciones en Artes, Humanidades y Comunicación
    </p>
    <p class="text-center">
        &copy; copyright 2024
    </p>
</footer>