---

---

<footer>
    <div>
        <img class="logo" src="logo.png" alt="">
        <div class="social-wrapper">
            <img src="fb.svg" alt="">
            <img src="ig.svg" alt="">
            <img src="mail.svg" alt="">
        </div>
        <article>
            <strong>Teléfono</strong>
            01 (341) 575 2222, extensión 46073
            <strong>Dirección</strong>
            Centro Universitario del Sur
            Av. Enrique Arreola Silva No. 883, colonia centro
            Edificio P-planta baja
            Zapotlán el Grande, Jalisco, México 
        </article>
    </div>
    <div class="copy">
        Universidad de Guadalajara, Centro de Investigaciones en Artes, Humanidades y Comunicación
        2024 &copy; copyright
    </div>
</footer>