---

---

<header>
    <nav>
        <a href="/">
            <img class="logo" src="logo.png" alt="">
        </a>
        <a href="">Artes, Humanidades y Desarrollo Cultural</a>
        <a href="">Identidad Cultural y Comunicación</a>
        <a href="">Procesos Socioculturales y Desarrollo Comunitario</a>
    </nav>
</header>