---

---

<header>
    <nav>
        <a href="/">
            <img class="logo" src="logo.png" alt="">
        </a>
        <a href="artes-humanidades">Artes, Humanidades y Desarrollo Cultural</a>
        <a href="identidad-cultural">Identidad Cultural y Comunicación</a>
        <a href="procesos-socioculturales">Procesos Socioculturales y Desarrollo Comunitario</a>
    </nav>
</header>


<style>
    header {
        padding: 15px
    }
    header nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
    header a {
        text-align: center;
        width: 200px;
        color: #232943;
        font-weight: 600;
    }
    header nav a:hover {
        color: var(--text-hover-color)
    }
</style>