---
import Hamburger from "./Hamburger.astro"


---

<header class="sticky top-0 z-[99]" style="transition: .5s;">
    <nav>
        <a href="/">
            <img class="logo" src="logo.png" alt="">
        </a>
        <div class="md:max-w-full  md:w-[550px] flex gap-4 justify-between mb-[2px]">
            <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-center items-center relative hidden md:inline-flex" type="button">
                Líneas de investigación 
                <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
                <!-- Dropdown menu -->
                <div id="dropdown" class="absolute top-10 z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-[400px] dark:bg-gray-700">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                        <li>
                            <a href="artes-humanidades" class="w-[100%] text-left block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Artes, Humanidades y Desarrollo Cultural</a>
                        </li>
                        <hr>
                        <li>
                            <a href="identidad-cultural" class="w-[100%] text-left block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Identidad Cultural y Comunicación</a>
                        </li>
                        <hr>
                        <li>
                            <a href="procesos-socioculturales" class="w-[100%] text-left block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Procesos Socioculturales y desarrollo Comunitario</a>
                        </li>
                    </ul>
                </div>
            </button>
            <a href="/productos" class="hidden md:block">Productos</a>
            <a href="#difusion" class="hidden md:block">Difusión</a>
            <a href="#equipo" class="hidden md:block">Equipo</a>
        </div>
        <Hamburger />
    </nav>
</header>


<style>
    header {
        padding: 15px 20px 30px
    }
    header.scrolled {
        background-color: #00A896;
        box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1)
    }
    header.scrolled a:not(header #dropdown a){
        color: white;
    }
    header nav {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 50px;
    }
    header a:not(header #dropdown a), header button {
        text-align: center;
        color: #232943;
        font-weight: 600;
    }
    header.scrolled button {
        color: white
    }
    header nav a:hover {
        color: var(--text-hover-color)
    }
</style>

<script>
    document.getElementById('dropdownDefaultButton')?.addEventListener('mouseenter', () => {
        document.getElementById('dropdown')?.classList.remove('hidden')
    })

    document.getElementById('dropdown')?.addEventListener('mouseleave', () => {
        document.getElementById('dropdown')?.classList.add('hidden')
    })

    window.addEventListener('scroll', () => {
        const header = document.querySelector('header')
        header && (window.scrollY > 40 ? header.classList.add('scrolled') : header.classList.remove('scrolled'))
    })
</script>