<h1 class="text-center">Productos</h1>

<section class="grid-content p-4">
    <div class="grid">
        <div class="card">
            <img src="https://picsum.photos/300/300" alt="" style="width:100%" loading="lazy">
            <div class="w3-center">
                <div class="titulo">
                <a href="producto">nombre</a>
                </div>
                <br>
                <div class="descripcion">
                    descripcion
                </div>
                <a href="producto" class="w3-btn btngris">&nbsp; <span style="font-size:1.3em">+</span> INFO &nbsp;</a>
            </div>
        </div>
        <div class="card">
            <img src="https://picsum.photos/300/300" alt="" style="width:100%" loading="lazy">
            <div class="w3-center">
                <div class="titulo">
                <a href="producto">nombre</a>
                </div>
                <br>
                <div class="descripcion">
                    descripcion
                </div>
                <a href="producto" class="w3-btn btngris">&nbsp; <span style="font-size:1.3em">+</span> INFO &nbsp;</a>
            </div>
        </div>
        <div class="card">
            <img src="https://picsum.photos/300/300" alt="" style="width:100%" loading="lazy">
            <div class="w3-center">
                <div class="titulo">
                <a href="producto">nombre</a>
                </div>
                <br>
                <div class="descripcion">
                    descripcion
                </div>
                <a href="producto" class="w3-btn btngris">&nbsp; <span style="font-size:1.3em">+</span> INFO &nbsp;</a>
            </div>
        </div>
        <div class="card">
            <img src="https://picsum.photos/300/300" alt="" style="width:100%" loading="lazy">
            <div class="w3-center">
                <div class="titulo">
                <a href="producto">nombre</a>
                </div>
                <br>
                <div class="descripcion">
                    descripcion
                </div>
                <a href="producto" class="w3-btn btngris">&nbsp; <span style="font-size:1.3em">+</span> INFO &nbsp;</a>
            </div>
        </div>
        <div class="card">
            <img src="https://picsum.photos/300/300" alt="" style="width:100%" loading="lazy">
            <div class="w3-center">
                <div class="titulo">
                <a href="producto">nombre</a>
                </div>
                <br>
                <div class="descripcion">
                    descripcion
                </div>
                <a href="producto" class="w3-btn btngris">&nbsp; <span style="font-size:1.3em">+</span> INFO &nbsp;</a>
            </div>
        </div>
        <div class="card">
            <img src="https://picsum.photos/300/300" alt="" style="width:100%" loading="lazy">
            <div class="w3-center">
                <div class="titulo">
                <a href="producto">nombre</a>
                </div>
                <br>
                <div class="descripcion">
                    descripcion
                </div>
                <a href="producto" class="w3-btn btngris">&nbsp; <span style="font-size:1.3em">+</span> INFO &nbsp;</a>
            </div>
        </div>
        <div class="card">
            <img src="https://picsum.photos/300/300" alt="" style="width:100%" loading="lazy">
            <div class="w3-center">
                <div class="titulo">
                <a href="producto">nombre</a>
                </div>
                <br>
                <div class="descripcion">
                    descripcion
                </div>
                <a href="producto" class="w3-btn btngris">&nbsp; <span style="font-size:1.3em">+</span> INFO &nbsp;</a>
            </div>
        </div>
        <div class="card">
            <img src="https://picsum.photos/300/300" alt="" style="width:100%" loading="lazy">
            <div class="w3-center">
                <div class="titulo">
                <a href="producto">nombre</a>
                </div>
                <br>
                <div class="descripcion">
                    descripcion
                </div>
                <a href="producto" class="w3-btn btngris">&nbsp; <span style="font-size:1.3em">+</span> INFO &nbsp;</a>
            </div>
        </div>
        <div class="card">
            <img src="https://picsum.photos/300/300" alt="" style="width:100%" loading="lazy">
            <div class="w3-center">
                <div class="titulo">
                <a href="producto">nombre</a>
                </div>
                <br>
                <div class="descripcion">
                    descripcion
                </div>
                <a href="producto" class="w3-btn btngris">&nbsp; <span style="font-size:1.3em">+</span> INFO &nbsp;</a>
            </div>
        </div>
    </div>
</section>


<style>
section.grid-content {
    max-width: 1270px;
    margin: 100px auto;
}
.card {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    position: relative;
}
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
	gap: 30px;
}

.grid .w3-center {
	padding: 20px 10px 80px;
}

.grid .w3-center .titulo {
	font-weight: bold;
	text-transform: uppercase;
}

.grid .w3-center .fecha {
	font-size: 0.8em;
}

.grid .w3-center .descripcion {
	margin-top: 0.5em;
	overflow-wrap: anywhere;
}

.grid .card {
	position: relative;
}

.grid .card .w3-btn {
    width: auto;
    position: absolute;
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);
}
.w3-btn {
    width: auto;
    position: absolute;
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 15px;
}
</style>