<!-- imagen de compañia de teatro -->
<div class="bg-center bg-cover" style="height: 500px; background-image: url('https://picsum.photos/300/300')"></div>
<section class="p-4 max-w-[800px] m-auto text-center">
    <h1 class="p-4 text-center">Nombre del producto</h1>
    <p class="mb-4">
        Los antecedentes de esta Compañía de Teatro del Centro Universitario del Sur se remontan al 13 de junio de 2011, cuando la <strong>Dra. Rosa Elena Arellano Montoya</strong> inició un taller de teatro con 8 estudiantes de la licenciatura en Periodismo. Dado que la Dra. Arellano se encontraba adscrita en ese momento al Departamento de Cultura, Arte y Desarrollo Humano, fue en éste donde se ubicó el incipiente grupo de teatro. Cabe mencionar que, desde el principio, la concepción que tenía Rosa Arellano era conformar un proyecto teatral que pudiera cubrir indicadores de docencia, extensión, investigación y vinculación.
    </p>
    <p class="mb-4">
        En el año del 2012 las autoridades del Centro Universitario del Sur de la Universidad de Guadalajara acordaron en el Concejo de Centro Universitario asignar un presupuesto de $60,000.00 pesos mexicanos al grupo de teatro, a partir de ese momento se le otorgó el nombre de <strong>“Compañía de Teatro del CUSur”</strong> (CTC) y se estableció que estuviera adscrita a la Coordinación de Extensión con la intención de fortalecer la oferta de Talleres de Formación Integral.
    </p>
    <p class="mb-4">
        La CTC desde el 2016 en su quinto aniversario, tomando en cuenta que su inicio fue en 2011 como taller teatral, generó el primer <strong>“Encuentro Teatro Sur Zapotlán”</strong> y creó el <strong>“Premio Nacional de Dramaturgia Universitaria Hugo Salcedo”</strong>, esto como resultado del proyecto ejecutivo de la Maestría en Gestión y Desarrollo Cultural cursada por <strong>Óscar Rodríguez</strong>, director de la CTC entre el 2017 y el 2019. 
    </p>
    
</section>

<style>
    h2 {
        margin-top: 150px;
    }
    section {
        margin: 50px auto 200px;
    }
    
</style>