---

---

<section class="text-center max-w-[750px] mx-auto">
    <h1>¿Quiénes somos?</h1>
    <p class="mb-3 text-pretty">
        Espacio diseñado para realizar <strong>investigación de alto nivel</strong>, articulando esfuerzo en el eje de docencia a nivel pregrado y posgrado, a la vez que contribuirá al fortalecimiento de actividades de <strong>divulgación, extensión, vinculación y difusión.</strong>
    </p>
    <p class="text-pretty">
        Ofrecerá de manera permanente <strong>diplomados, cursos y talleres</strong> para todas aquellas personas que deseen actualizar sus saberes y pretendan introducirse paulatinamente en las disciplinas de las <strong>artes, las humanidades y la comunicación.</strong> Dado a su carácter regional, nacional e internacional, realizará eventos donde se promueva el intercambio de experiencias, reflexiones, análisis, discusiones y aportes sobre temas esenciales que den vida a propuestas relacionadas con las <strong>artes, las humanidades y la comunicación.</strong>
    </p>
</section>